@media (min-width: 500px) {

      .welcome-des-text{
            width:400px;
            
         }



}


@media (min-width: 768px) {
      .welcome-des-text{
            width:500px;
            font-size:17px;
            font-weight:500;
         }
         
         .welcome-big-text{
               font-size:50px;
         }
          
         .about-img{
            width:50%;
            position:relative;
            top:25px;
            padding-top:20px;
           }
           
                .about-details{
            text-align:center;
            padding:60px;
            width: 400px;;
           }
           
           
           .about-head{
            padding:20px;
            font-family: 'Dancing Script', cursive;
            font-size:40px;
               position:relative;
               top:40px;
           }
     
           .learn{
            margin-top:-15px;
            width:130px;
            height:40px;
          
            font-weight:bolder;
            border-radius:5px;
            font-size:14px;
            background-color:black;
           }



         #menu-bar{
         transition:none;
         }
          

.gal-img{
 width:300px;
 height:300px;
}       

.menu-img{
      width:300px;
}

            .news-head{
           font-family: 'Dancing Script', cursive;
          font-size:27px;
         color:white;
          position:relative;
         top:55px;
         text-align:center;
         }
         
         .news-details{
         font-size:14px;
         position:relative;
         top:80px;
         text-align:center;
         }
         
         form{
         display:flex;
         flex-direction:column;
         justify-content:center;
         align-items:center;
            position:relative;
         top:50px;
         }
                 
                 
      }
         
         
         @media (min-width: 1024px) {
   
   .logo{
     margin-left:40px;
   }
   
   .logo-name{
     left:100px;       
   }
               
    #order{
     background-color:var(--other-color);
     width:130px;
     line-height:2;
     border-radius:5px;
             text-align:center;
    }
   
    #order a{
     color:var(--my-color);
            
    }
     
         .menu-btns{
          visibility:hidden;
         }
         
         .nav-social{
          visibility:hidden;
           position:absolute;
         }
          
         #menu-bar{
         visibility: visible;
           display:flex;
           flex-direction:row;
           position:fixed;
           top:30px;
           gap:5px;
           height:0;
           justify-content:end;
          align-items:end;
          right:50px;
          transition:none;
                  
         }
         
         
         
         .nav-link a{
          text-decoration:none;
                  color:var(--other-color);
         }
         
         .nav-link{
          display:inline-flex;
          justify-content:end;
          align-items:end;
          z-index:1;
          visibility: visible;
          margin:15px;
                  border:none;
         }
          
         .slide{
           visibility: visible;
          left:-40px;
         }
   
         
         .about{
            display:flex;
            flex-direction:row;
            margin-top:300px;
           
      }

      .about-details{
            width:400px;
      }

.about-img{
width:400px;
height:400px;
}

               
         .manage-mother{
         display:flex;
         flex-direction:row;
         gap:120px;
          margin-top:55px;
         }
         
         .manage-learn{
         margin-top:55px;
         width:130px;
         height:40px;
         font-weight:bolder;
         border-radius:5px;
         font-size:14px;
         background-color:white;
         }


.manage-img{
         width:300px;
         height:300px;
}

                  
         
         .service-container{
         margin-top:20px;
         display:grid;
         grid-template-columns: repeat(2,320px);
         justify-content:center;
         align-items:center;
         gap:80px;
         }



.gal-card{
         display:grid;
         grid-template-columns: repeat(2,400px); 
}







                  
         
         .menu-img-card{
         display:grid;
         grid-template-columns: repeat(2,320px);
         justify-content:center;
         align-items:center;
         gap:80px;
         margin-top:30px;
         }
         
         .menu-learn{
         margin-top:65px;
         }
         
         .foot-card{
          display:grid;
         grid-template-columns: repeat(3,280px);
          justify-content:center;
         align-items:center;
         
         }
         
         .foot-left{
          margin-top:-120px;
         }
         
      
         
          .follow-us{
            position:relative;
           top:30px;
          }
         
         .foot-social{
              position:relative;
           top:36px;
         }
         
         .foot-middle{
           font-size:15px;
          margin-left:80px;
         }
         
         .contact{
               position:relative;
           top:-20px;
         }
          
         .foot-right{
          margin-left:60px;
         }
         
          .quick-links{
           position:relative;
          }
         
         .last-card{
          display:flex;
           flex-direction:row;
          justify-content:center;
          align-items:center;
         padding:30px;
         }
         
          .copyright{
            position:absolute;
           left:130px;
          }
          
          .developer{
            font-size:14px;
           position:absolute;
           right:270px;
           
          }
         
         
          
         }
         
         @media (min-width: 1321px) {
            #home{
                  margin-top:130px;
            }
            

            .about{
                  display:flex;
                    flex-direction:row;
                  margin-top:340px;
                  gap:50px;
             }
            
            
            
                        .about-details{
                              width:400px;
                        }
            
            .about-img{
                  width:400px;
                  height:400px;
                  border-end-end-radius:200px; 
  border-top-left-radius: 200px;
            }
            
   
               
   .manage-mother{
      gap:250px;
   }
   
   .manage-img{
      border-end-end-radius:150px; 
  border-top-left-radius: 150px;
   }
               
         .foot-card{
          display:grid;
         grid-template-columns: repeat(3,430px);
          justify-content:center;
         align-items:center;
         gap:3opx;
         }
         
            
         
         
         }